* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #df6951;
    --h2-color: #14183E;
    --paragraph-color: #5E6282;
    --anchor-color: #212832;
    --footer-color: #080809;
    --h3-color: #1E1D4C;
    --white-color: #fff;
    --black-color: #000;
    --font-family: "Poppins";
    --header-font-family: "Volkhov";

}

.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-direction {
    flex-direction: row;
}

.flex-coloum {
    flex-direction: column;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-item-center {
    align-items: center;
}

/* header  */
body {
    scroll-behavior: smooth;
}

.container {
    max-width: 1160.58px;
    margin-inline: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    margin-top: 47px;
}

.logo img {
    max-width: 114.91px;

}

.navlist nav {
    margin-top: 10px;
}

nav a {
    padding-right: 50px;

}

nav .button {
    border: 1px solid #212832;
    border-radius: 5px;
    color: var(--anchor-color);
    text-align: center;
    padding: 9px 21px;
}

nav select {
    font-size: 17px;
    font-family: var(--font-family);
    font-weight: 500;
    margin-left: 30px;
    border: none;
    background-color: transparent;
}

.navlist a {
    text-decoration: none;
    color: var(--anchor-color);
    font-family: sans-serif;

}

.banner {
    padding-top: 105px;
    background: url("./../image/backgroundimg.svg") no-repeat;
    background-size: contain;
    position: relative;
    background-position: 100%;
}

.leftcontent {
    margin-top: 110px;
}

.leftcontent strong {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 20px;
}

.leftcontent span {
    display: inline-block;
    position: relative;
    isolation: isolate;

}

.leftcontent span::after {
    content: '';
    background: url(./../image/Decore.svg) no-repeat;
    position: absolute;
    bottom: 0;
    right: -40%;
    width: 150%;
    height: 17px;
    background-size: contain;
    z-index: -1;
}

.leftcontent h1 {
    padding-top: 24px;
    font-family: var(--header-font-family);
    font-weight: 700;
    font-size: 50px;
    max-width: 400px;
}

.leftcontent p {
    padding-top: 30px;
    color: var(--paragraph-color);
    font-weight: 500;
}

.leftcontent p {
    max-width: 400px;
}

.btn {
    padding-top: 34px;
}

.btn button {
    width: 170px;
    height: 60px;
    margin-top: 10px;
    color: var(--white-color);
    background-color: #F1A501;
    border-radius: 10px;
    border: var(--white-color);
}

.btn p {
    font-style: var(--font-family);
    font-weight: 500;
    color: #686D77;
}

.rightcontent {
    padding-top: 0;
}

.rightcontent img {
    max-width: 100%;
    height: auto;
}

/* category */

.category {
    padding-top: 97px;
    padding-bottom: 158px;
}

.heading p {
    text-align: center;
    color: var(--paragraph-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
}

.heading h2 {
    text-align: center;
    font-family: var(--header-font-family);
    color: var(--h2-color);
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;

}

.service {
    position: relative;
}

.service-item {
    margin-top: 70px;
}

.service .card {
    text-align: center;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 36px;
    transition: transform 0.3s ease-in-out;

}


.service:hover .card {
    transform: scale(1.1);
    filter: drop-shadow(0 1.85px 3.15px #00000001) drop-shadow(0 8.15px 6.52px #00000002) drop-shadow(0 38.52px 25.48px #00000003) drop-shadow(0 64.81px 46.85px #00000004) drop-shadow(0 100px 80px #00000005);

}

.service::after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    background-color: var(--primary-color);
    left: -20px;
    bottom: -20px;
    border-radius: 30px 0 10px 0;
    z-index: -1;
    transition: transform 0.3s ease-in-out;


}

.service:hover::after {
    opacity: 1;

}

.service img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.service h3 {
    color: var(--h3-color);
    font-weight: 600;
    font-size: 20px;

}

.service p {
    padding-top: 15px;
    color: var(--paragraph-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    max-width: 190px;
}

/* top-selling */
.header p {
    text-align: center;
    color: var(--paragraph-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
}

.header h2 {
    text-align: center;
    font-family: var(--header-font-family);
    color: var(--h2-color);
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
}

.maps {
    margin-top: 60px;
    justify-content: center;
    gap: 35px;

}

.city {
    width: 100%;
    text-align: center;
    position: relative;
    filter: drop-shadow(0px 1.85px 3.15px #00000001) drop-shadow(0px 8.15px 6.52px #00000002) drop-shadow(0px 20px 13px #00000003) drop-shadow(0px 38.52px 25.48px #00000003) drop-shadow(0px 64.81px 46.85px #00000004) drop-shadow(0px 100px 80px #00000005);

}

.city>img {
    width: 100%;
}

.plans {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--white-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--paragraph-color);
    padding: 27px 20px 42px;
    border-radius: 0 0 24px 24px;

}

.plans span img {
    width: auto;
    height: auto;
}

.days {
    text-align: left;
    margin-top: 19px;
}


/* Easy-And-Fast */

.easyandfast {
    margin-top: 186px;
    margin-bottom: 200px;
    align-items: start;
}

.leftpannel strong {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--paragraph-color);
}

.leftpannel h2 {
    font-family: var(--header-font-family);
    font-size: 50px;
    font-weight: 700;
    color: var(--h2-color);
    max-width: 500px;
    padding-bottom: 31px;
}

.rule {
    padding-bottom: 48px;
}

.rule img {
    height: 48px;
    padding-right: 21px;
}

.rule h3 {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    color: var(--paragraph-color);
}

.rule p {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-color);
    max-width: 400px;
}

.rightpannel {
    width: 40%;
    position: relative;
    padding-right: 7%;
}

.rightpannel::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 30%;
    bottom: 10%;
    background: url(./../image/backgroundimag.png) no-repeat;
    background-size: contain;
}

.lowercard {
    padding-left: 25px;
    margin-top: 26px;
    position: relative;
    background-color: var(--white-color);
    border-radius: 26px;
    transition: transform 0.3s ease-in-out;
}


.lowercard img {
    margin-top: 20px;
    margin-right: 24px;
    margin-bottom: 12px;
}

.lowercard h3 {
    padding-bottom: 6px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    color: #080809;
}

.rightpannel p {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: #84829A;
}

.goingpeople span {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: #84829A;
    padding-right: 140px;
}

.uppercard {
    position: absolute;
    bottom: 11%;
    left: 46%;
    padding: 10px;
    border-radius: 18px;
    filter: drop-shadow(0px 1.85px 3.15px #00000001) drop-shadow(0px 8.15px 6.52px #00000002) drop-shadow(0px 20px 13px #00000003) drop-shadow(0px 38.52px 25.48px 0px #00000003) drop-shadow(0px 64.81px 46.85px #00000004) drop-shadow(0px 100px 80px #00000005);
    background-color: var(--white-color);
    align-items: start;
    gap: 12px;
}

.uppercard img {
    min-width: 50px;

}

.Ongoing span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #84829A;
    gap: 10px;
}

.Ongoing h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #080809;

}

.percent span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #8A79DF;
}

/* TEstimoniols  */

.Testimonial {
    margin-bottom: 96px;
    border: #000;
    filter: drop-shadow(0px 1.85px 3.15px #00000001) drop-shadow(0px 8.15px 6.52px #00000002) drop-shadow(0px 20px 13px #00000003) drop-shadow(0px 38.52px 25.48px 0px #00000003) drop-shadow(0px 64.81px 46.85px #00000004) drop-shadow(0px 100px 80px #00000005);

}

.right{
    padding: 20px 20px;
    border:2px solid rgba(115, 109, 109, 0.842);
    border-radius: 5px;
    filter: drop-shadow(0px 1.85px 3.15px #00000001) drop-shadow(0px 8.15px 6.52px #00000002) drop-shadow(0px 20px 13px #00000003) drop-shadow(0px 38.52px 25.48px 0px #00000003) drop-shadow(0px 64.81px 46.85px #00000004) drop-shadow(0px 100px 80px #00000005);

}


.left strong {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
    color: var(--paragraph-color);
}

.left h2 {
    font-family: var(--header-font-family);
    font-size: 50px;
    font-weight: 700;
    color: var(--h2-color);
    max-width: 400px;
}

.right p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--paragraph-color);
    max-width: 400px;

}

.right h3 {
    padding-top: 34px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
    color: var(--paragraph-color);
}

.right span {
    padding-top: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--paragraph-color);
}

/* aeroplans names  */

.names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.names img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* textarea */

.feedback .container {
    isolation: isolate;
}

.feedback .container img:nth-of-type(1) {
    position: absolute;
    opacity: .2;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.feedback .container img:nth-of-type(2) {
    position: absolute;
    left: auto;
    bottom: auto;
    opacity: .2;
    z-index: -1;
    top: 13%;
    right: 0;
    translate: 15%;
    max-width:300px;
    rotate: -90deg;
}

.feedback .container img:nth-of-type(3) {
    left: 97%;
    bottom: 90%;
    position: absolute;
}


.textarea {
    width: 1170px;
    height: 407px;
    margin-top: 120px;
    position: relative;
    margin-bottom: 170px;
    background-color: #dfd7f959;
    border-radius: 129px 20px 20px 20px;
    text-align: center;

}

.textarea h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 34px;
    color: #5E6282;
    text-align: center;
    padding: 70px 156px;
}

#email {
    width: 400px;
    height: 68px;
    margin-right: 24px;
    border-radius: 10px;
    border: 1px solid var(--white-color);
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}


.your-email button {
    width: 180px;
    height: 68px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid #FF946D;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}



/* footer  */
.jadoo strong {
    padding-right: 70px;
    font-size: 44px;
    font-family: var(--font-family);
    font-weight: 400;
    color: #181E4B;
}

.jadoo p {
    padding-top: 20px;
    font-family: var(--font-family);
    color: #5E6282;
    font-weight: 500;
    font-size: 13px;
    max-width: 210px;
}

.jadoo nav strong {
    color: var(--footer-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 21px;
    padding-bottom: 34px;
}

.jadoo nav a {
    color: var(--paragraph-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 12px;
}

.jadoo div span {
    color: var(--paragraph-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
}

.description {
    margin-top: 84px;
    padding-bottom: 79px;
    text-align: center;
    font-family: var(--font-family);
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 14px;
}

.icon{
    padding-top: 16px;
    gap: 7px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 95%;
    }

    .leftcontent h1,
    .heading h2,
    .header h2 {
        font-size: 42px;
    }
    .feedback{
        overflow: hidden;
    }

}

@media (max-width: 1366px) {

    .leftcontent h1,
    .heading h2,
    .header h2 {
        font-size: 38px;
    }

    .rightpannel {
        width: 45%;
    }
    .feedback{
        overflow: hidden;
    }
}

@media (max-width: 1200px) {

    .rightpannel {
        width: 100%;
        padding-right: 0;
    }

    .leftpannel h2 {
        font-size: 38px;
    }

    .textarea {
        width: 90%;
        height: auto;
        padding: 40px 20px;
        border-radius: 50px;
    }

    #email {
        width: 100%;
        margin-bottom: 10px;
    }

    .your-email button {
        width: 100%;
        overflow: hidden;
    }
    .feedback{
        overflow: hidden;
    }


}

@media (max-width: 991px) {

    .logo {
        text-align: center;
    }

    .navlist {
        display: none;
    }

    header .container {
        justify-content: center;
    }

    .banner .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .maps{
        flex-wrap: wrap;
        justify-content: center;
    }
    .city{
        width: 40%;
    }

    .rightcontent {
        max-width: 700px;
    }

    .leftcontent {
        text-align: center;
    }

    .service-item {
        flex-wrap: wrap;
    }

    .service {
        width: 40%;
        flex-grow: 1;
    }

    .service p {
        margin-inline: auto;
    }

    .easyandfast{
        flex-direction: column;
        align-items: center;
    }
    .Testimonial{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .uppercard{
        position: relative;
        max-width: 245px;
    }

    .names{
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
    }

    .textarea h2 {
        padding: 20px;
    }


    .feedback{
        overflow: hidden;
    }

    .jadoo{
        flex-direction: column;
        align-items: center;
    
    }

}

@media (max-width: 575px){
    .tags{
        flex-direction: column;
    }
    .maps{
        flex-direction: column;
        align-items: center;
    }

    .plans h3{
        font-size: 16px;
    }

    .city{
        width: 100%;
    }
    .rightpannel::before {
        left: 15%;
    }

    .uppercard{
        max-width: 245px;
    }


 

}
@media (max-width: 420px) {

    .leftcontent h1,
    .heading h2,
    .header h2 {
        font-size: 30px;
    }

    .leftcontent strong {
        font-size: 16px;
    }

    .btn button {
        width: 100%;
    }
    .rightpannel{
        display: flex;
        flex-direction: column;
    }



    .feedback .container>img:nth-of-type(2),
    .feedback .container>img:nth-of-type(1),
    .feedback .container>img:nth-of-type(3) {
        display: none;
    }

    .textarea {
        padding: 20px;
        border-radius: 20px;
    }

    .jadoo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 360px) {
    .leftcontent h1 {
        font-size: 26px;
    }

    .rightcontent img {
        max-width: 100%;
    }

    .textarea h2 {
        font-size: 24px;
        padding: 20px;
    }

    .btn button,
    .your-email button,
    #email {
        width: 100%;
    }
}